
.readme-plugin {
	width: 100%;
	position: relative;
}
.doc-sections {
	width: calc(75% - 2rem);
}
.doc-navigation {
	float: right;
	position: sticky;
	top: 3rem;
	right: 1rem;
	width: 25%;
	background: white;
	min-height: 10rem;
    padding: 1rem;
    box-sizing: border-box;

    max-height: 80vh;
    overflow: scroll;
}
.doc-navigation ul {
	margin: 0;
}
.doc-navigation a {
    text-decoration: none;
}
.doc-navigation a:hover {
    text-decoration: underline;
}
.doc-section h1:first-child {
	margin-top: 0;
}
.doc-section {
    background: white;
    padding: 2rem;
    box-shadow: 2px 2px 10px -8px black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.doc-section__inner::before {
  display: block;
  content: " ";
  margin-top: -5rem;
  height: 5rem;
  visibility: hidden;
  pointer-events: none;
}

.doc-screenshots {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    flex-wrap: wrap;
    width: calc(100% + 1rem);
    margin-left: -0.5rem;
}

.doc-screenshots figure {
    flex: 0 0 30%;
    margin: 1.5% 1.5%;
    flex: 0 0 calc(33.29% - 1rem);
    margin: calc( 0.5rem );
}
.doc-screenshots figcaption {
    border: 1px solid gainsboro;
    background: gainsboro;
    padding: 0.5rem;
}
.doc-screenshots img {
    max-width: 100%;
    border: 1px solid gainsboro;
    margin: 0;
    vertical-align: bottom;
    box-sizing: border-box;
    border-bottom: 0px;
}
.doc-section table {
	font-size: 0.875em;
}
.doc-section th {
	text-align: left;
}
.doc-section table em {
	color: #bb6608;
	font-style: normal;
}
.doc-section table code {
	margin: 0;
	font-size: 0.875em;
}
.doc-section pre code {
	display: block;
	overflow: auto;
	font-size: 0.875em;
}
